@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Profesoret";
    var i = 1;
}
<style>
    .delete-form {
        display:inline;
    }
    .delete-form button {
        border:none;
        background-color:transparent;
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <a asp-controller="Role" asp-action="Create" class="btn btn-primary">Shto</a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Any())
            {
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">Lista me Role</h5>


                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nr</th>
                                    <th scope="col">Role Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var role in Model)
                                {
                                    <tr>
                                        <th scope="row">@(i++)</th>
                                        <td>@role.Name</td>
                                        <td class="text-center">
                                            <a class="p-1" asp-controller="Role" asp-action="Details" asp-route-id="@role.Id"><i class="bi bi-card-list"></i></a>
                                            <a class="p-1" asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id"><i class="bi bi-pencil"></i></a>
                                            <form asp-action="Delete" asp-route-id="@role.Id" method="post" class="delete-form">
                                                <button class="p-1"><i class="bi bi-trash"></i></button>
                                            </form>
                                            <a class="p-1" asp-controller="Role" asp-action="GetUsersByRoleName" asp-route-roleName="@role.Name"><i class="bi bi-person-lines-fill"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-body pb-1">
                        <h5 class="card-title">Per te shtuar Rol te rinje klikoni mbi butonin Shto</h5>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
