@model IEnumerable<Course>
@{
    ViewBag.Title = "Profesoret";
}
<div class="container p-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            <a asp-controller="Course" asp-action="Create" class="btn btn-primary">Shto</a>
        </div>

        <div class="col-md-3">
          <h3>Numri i Kurseve: @ViewData["CoursesCount"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Course Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model)
                    {
                        <tr>
                            <th scope="row">@course.CourseId</th>
                            <td>@course.CourseName</td>
                            <td>
                                <a asp-controller="Course" asp-action="Details" asp-route-courseId="@course.CourseId">Details</a>
                                <a asp-controller="Course" asp-action="Edit" asp-route-courseId="@course.CourseId">Edit</a>
                                <a asp-controller="Course" asp-action="Delete" asp-route-courseId="@course.CourseId">Delete</a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
